__pycache__
.pytest_cache
dist
.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*
!.env.example
yarn.lock
poetry.lock
.vercel
data
metadata
eurosat-stac
.ipynb_checkpoints
eurosat-stac**
.coverage
data
db
*.zip
docker-compose.prod.yml
tutorials/*md
!test.zip
.vscode