__pycache__
.pytest_cache
dist
.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*
!.env.example
yarn.lock
poetry.lock
.vercel
data
metadata
eurosat-stac
.ipynb_checkpoints
eurosat-stac**
.coverage
data
db
*.zip
!uis/eotdl/tests/e2e/files/*.zip
docker-compose.prod.yml
tutorials/*md
credentials
!test.zip
.vscode
kk
auth.json
node_modules/
/test-results/
playwright-report
playwright/.cache/
test-results