@reference "./app.css";

.content {
    @apply flex flex-col max-w-full gap-4;
}

.content table {
    @apply my-2 py-[2px] px-1 border-2
}

.content td, .content th {
    @apply border-[1px] border-slate-300 p-1
}

.content a {
    @apply text-green-200 underline;
}

.content h1 {
    @apply text-xl font-bold;
}

.content h2 {
    @apply text-xl font-bold mt-6;
}

.content ul {
    @apply list-disc list-inside px-5;
}

.content ol {
    @apply list-decimal list-inside px-5;
}

.content pre {
    @apply bg-gray-800 text-white p-4 rounded-lg overflow-auto
}

.content code {
    @apply hidden
}