LOGTO_ENDPOINT=https://spai.auth.earthpulse.es/
LOGTO_APP_ID=<your-logto-app-id>
LOGTO_APP_SECRET=<your-logto-app-secret>
LOGTO_COOKIE_ENCRYPTION_KEY=<your-cookie-encryption-key>
PUBLIC_EOTDL_API=http://localhost:8000
PUBLIC_AI4EO_API="https://philabchallenges.api-dev.earthpulse.ai"